langgraph
langchain-core
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
fastapi
uvicorn
python-multipart
sse-starlette
pydantic
pydantic-settings
python-dotenv